{% extends "base.html" %}
{% block content %}

<div class="form-box">
    <h1>Order: {{ service.name }}</h1>
    <p>Price: ${{ service.price }}</p>

    <form method="POST">

        <label>الاسم</label>
        <input name="customer_name" placeholder="اكتب اسمك" required>

        <label>الإيميل / تيليگرام</label>
        <input name="email" placeholder="example@gmail.com" required>

        <label>طريقة الدفع</label>
        <select name="method" required>
            <option value="usdt">USDT</option>
            <option value="paypal">PayPal</option>
            <option value="card">Visa / MasterCard</option>
        </select>

        <label>ملاحظات</label>
        <textarea name="note" rows="4" placeholder="اكتب تفاصيل الطلب أو ملاحظاتك"></textarea>

        <button class="btn" type="submit">متابعة الدفع</button>

    </form>
</div>

{% endblock %}