<div class="wallet" style="text-align:center;">
    <p><b>Send USDT (TRC20) to:</b></p>

    <input id="walletInput" type="text" value="{{ wallet }}" readonly style="width:100%; text-align:center;">

    <br><br>

    <button type="button" onclick="copyWallet()" class="btn">
        نسخ العنوان
    </button>

    <br><br>

    <img src="{{ url_for('static', filename='qr.png') }}" width="220">

    <p style="color:gray; font-size:14px;">
        امسح الباركود أو انسخ العنوان للدفع
    </p>
</div>

<button onclick="confirmPayment()" class="btn">
    دفعت
</button>

<script>
function confirmPayment() {
    alert("تم استلام طلبك، جاري التحقق من الدفع");
}
</script>